Source: ros-groovy-openrtm-aist-python
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), omniidl-python, python-omniorb, ros-groovy-catkin, unzip
Homepage: http://ros.org/wiki/openrtm_aist_python
Standards-Version: 3.9.2

Package: ros-groovy-openrtm-aist-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, omniidl-python, python-omniorb
Description: Python binding of OpenRTM-AIST (see openrtm_aist for further information). Its development is happening at openrtm.org/pub/OpenRTM-aist. The repository listed below is that of its ROS wrapper.
